<div style="text-align:center">
  <h1>
    Welcome to HitMe!
  </h1>
  <p>Press the name based generated Image below to hit {{ inputName }}:</p>
  <img (click)="showHitAlert()" alt="{{ inputName }}'s random Avatar" src="{{ imageURL }}" width="300">
  <p>Times you hitted {{ inputName }}: {{ currentHits }}</p>
</div>
<div class="container">
  <a [routerLink]="['/enterName']" class="btn btn-primary">Back</a>
</div>
<ngx-alerts></ngx-alerts>
