<!--Footer-->
<footer class="page-footer blue center-on-small-only fixed-bottom">
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © {{ currentYear }} Copyright
      <a href="https://www.unbekannt3.eu"> unbekannt3.eu</a> -
      <i class="fa fa-code" aria-hidden="true"></i> is available on
      <a href="https://gitlab.com/unbekannt3/HitMe" target="_blank">
        <i class="fa fa-gitlab" aria-hidden="true"></i> GitLab</a>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->