<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to HitMe!
    </h1>
    <p>Please enter a name and click on next to get an generated image to hit on.
      <br />A Counter wil be with you :)
    </p>
  </div>
  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="nameFieldValue" (keyup.enter)="setName()" class="form-control" placeholder="Enter name here"
      aria-label="Enter name here" required>
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="button" (click)="setName()">Next
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
<ngx-alerts></ngx-alerts>