/* You can add global styles to this file, and also import other style files */
body {
    margin:0;
    padding:0;  
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-height:100vh;
  }
  
  main {
    flex:1 0 auto;
  }